src/vendor/
src/node_modules/
src/storage/logs/*.log
src/.phpunit.cache/
src/bootstrap/cache/*.php
!src/bootstrap/cache/.gitkeep
.env
.env.*
!.env.example
.claude/

src/storage/framework/sessions/*
src/storage/framework/views/*
src/storage/framework/cache/*
!src/storage/framework/sessions/.gitignore
!src/storage/framework/views/.gitignore
!src/storage/framework/cache/.gitignore
